.button-burger {
  position: relative;
  border: none;
  border-radius: 3px;
  z-index: 99;
  max-width: 50px;
  background-color: var(--DarkestOne);
  padding: 0.4rem 0.1rem;
  margin: 2% 0 0 2%;

  justify-content: space-around;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bar1,
.bar2,
.bar3 {
  background-color: white;
  width: 90%;
  height: 5px;
  transition: 0.4s;
  border-radius: 3px;
  margin: auto;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
