.login-constructor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 0;
  margin: 0 5%;
}

.login-constructor > h1 {
  text-align: center;
}

.login-form-constructor {
  display: flex;
  flex-direction: column;
}

.login-form-constructor > label {
  margin-top: 4%;
  padding: 2%;
}

.login-form-constructor > label:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

.login-form-constructor > input {
  padding: 2%;
  border: 1% solid;
  border-radius: 10px;
  background-color: #d9d9d9;
  color: black;
}

#signin-button {
  margin-top: 4%;
  background-color: #491313;
  color: white;
  max-width: 40%;
  width: 30%;
  align-self: center;
}

@media only screen and (min-width: 600px) {
  .login-constructor {
    margin: 5% 25%;
  }
}
